.email-field,
.pass-field {
    background-color: var(--bg-3);
    width: 350px;
    height: 50px;
    border: 1px solid var(--bor-col);
    border-radius: 25px;
    padding: 0 52px 0 20px;  
    font-size: var(--font-s);
    caret-color: var(--btn-col);
    outline: none;
    color: white;
    transition: border-color 0.2s ease;
}

.email-field:focus,
.pass-field:focus {
    border-color: var(--thi-col);
}

.input-box{
    position: relative;
    width: 350px;
    margin: 0 auto;
}

#form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seen-icon {
    padding-top: 5px;
    padding-left: 8px;
    position: absolute;
    margin-top: 10px;
    margin-right: 15px;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.25s ease;
}

.seen-icon:hover {
    background-color: var(--bg-2);
}

.eye {
    width: 15px;
    height: 15px;
}